.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: #121C31;
  border: 1px solid white;
}

.Orrery{
  width: 100%;  /* Orrery takes full width of container */
  height: 100%; /* Orrery takes full height of container */
  box-sizing: border-box;
  overflow: hidden;
}
