.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;

  height: 85vh;
  border: 1px solid white;
  background-color: #121C31;
}

.planetInfoDiv {
    display:flex;
    float: left;
    padding: 0%;
    background-color: #121C31;
    border: 1px solid white;
    width: 25vw;
    height: 100vh;
    margin: 30px;
    margin-top: auto;

    

}