.planetInfoDiv {
    display: flex;
    flex-direction: column;
    padding: 0; /* Padding can be adjusted as needed */
    background-color: #0b1220;
    width: 25vw; /* Keep this if it fits your design */
    height: 50%; /* Allow height to adjust based on content */
    margin: 30px; /* Adjust margins if needed */
    position: absolute;
    z-index: 2;
    font-size: 15px;
    padding: 15px;
    border: 1px solid white;

}

.planetInfo {
    font-size:15px;
}